@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Metal+Mania&display=swap');

.topfont{
    font-family: "Metal Mania", serif;
    font-size: 1rem;
    transform: scale(3.5);
}

.topline {
    position: static;
    width: 100%;
    height: 4.5em;
    background-color: #783716;
}

.box {
    background-color: #AA7441;
    -webkit-border-radius: 5em;
}

.box2 {
    -webkit-border-radius: 3em;
    background-color: wheat;
    width: 90%;
}

.font{
    font-family: "Libre Baskerville", serif;
}

.box2 h1 {
    margin: 10px;
    margin-left: -20em;
    text-align: center;
    line-height: 75px;
    font-size: 2rem;
}

.line {
    position: static;
    width: 80%;
    height: 0.1em;
    border-radius: 1em;
    background-color: saddlebrown;
}

.circle {
    grid-area: profile;
    height: 15em;
    width: 15em;
    margin-top: 2%;
    margin-left: -40em;
    background-color: darkgray;
    border-radius: 50%;
}

.username {
    grid-area: user;
    position: absolute;
    font-family: "Libre Baskerville", serif;
    margin-top: -5em;
    font-size: 1.5em;
    color: black;
}

.email {
    grid-area: mail;
    position: absolute;
    font-family: "Libre Baskerville", serif;
    width: 40%;
    font-size: 1.5em;
    color: black;
}

/*.grid-Layout {*/
/*    display: grid;*/
/*    grid-template-areas: 'profile user'*/
/*                         'profile mail';*/
/*    background-color: #2196F3;*/
/*    gap: 5px;*/
/*    padding: 10px;*/
/*}*/

/*.grid-Layout > div {*/
/*    background-color: #783716;*/
/*    text-align: center;*/
/*    padding: 200px 0;*/
/*}*/