.box {
    background-color: #AA7441;
    -webkit-border-radius: 5em;
}

.box2 {
    -webkit-border-radius: 3em;
    background-color: wheat;
    width: 90%;
    
}

.box2 h1{
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 2rem;
}

.underline h1{
    border-bottom: 0.1px solid rgb(0, 0, 0);
    display: inline-block; /* ทำให้ h1 มีขนาดตามข้อความ */
    margin: 0 auto; /* สำหรับจัดกลางตัวอักษร */
    /* ระบุคุณสมบัติอื่น ๆ ที่คุณต้องการ */
  }

  .line {
    position: relative;
    width: 100%;
    height: 0.1em;
    border-radius: 1em;
    background-color: rgb(163, 84, 27);
  }

/*.GridCon {*/
/*    display: grid;*/
/*    grid-template-areas: 'session master player';*/
/*    gap: 10px;*/
/*    background-color: #747879;*/
/*    padding: 5px;*/
/*}*/

/*.GridCon > div {*/
/*    text-align: center;*/
/*    padding: 5px 0;*/
/*    font-size: 20px;*/
/*    color: white;*/
/*    font-family: "Libre Baskerville", serif;*/
/*}*/

.sesId {
    position: absolute;
    font-family: "Libre Baskerville", serif;
    color: black;
    font-size: 1.5em;
    top: 30%;
    left: 15%;
}

.master {
    position: absolute;
    font-family: "Libre Baskerville", serif;
    color: black;
    font-size: 1.5em;
    top: 30%;
    left: 35%;
}

.playerNum {
    position: absolute;
    font-family: "Libre Baskerville", serif;
    color: black;
    font-size: 1.5em;
    top: 30%;
    left: 55%;
}