@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Metal+Mania&display=swap');

.font{
  font-family: "Libre Baskerville", serif;
}

.topfont{
  font-family: "Metal Mania", serif;
  font-size: 1rem;
  transform: scale(3.5);
}

.scroll{
   /* กำหนดความสูงเท่ากับความสูงของหน้าจอ */
  overflow-y: scroll; /* เปิดการใช้งานการเลื่อนแนวตั้งเมื่อเนื้อหามากเกิน */
  box-sizing: border-box;
  overflow-x: hidden;
  z-index: 0 /* ตั้งค่า z-index เป็นค่าติดลบเพื่อให้สีพื้นหลังอยู่ข้างหลังสุด */;
}


.topline {
  position: static;
  width: 100%;
  height: 4em;
  
  background-color: saddlebrown;


}

.box2 h1 {
 
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 2rem;
  
}

.box {
  background-color: #AA7441;
  -webkit-border-radius: 5em; 
}







.box2 {
  -webkit-border-radius: 3em; 
  background-color: wheat;
  width: 90%;
}




.profileBox {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.circle {
  background-size: 100%;

  background-repeat: no-repeat;
  position: absolute;
  top: 25%;
  left: 10%;

  height: 15em;
  width: 15em;
  background-image: url('/images/images.jpg');
}

.username {
  position: absolute;
  left: 40%;
  top: 30%;
  font-size: 1.5em;
}

.email {
  position: absolute;
  left: 40%;
  top: 50%;
  font-size: 1.5em;
}


.line {
  position: static;
  width: 80%;
  height: 0.1em;
  border-radius: 1em;
  background-color: saddlebrown;
}


