@tailwind base;
@tailwind components;
@tailwind utilities;


.font{
    font-family: "Libre Baskerville", serif;
    color:black;
    font-size: 35px;
}

.box {
    background-color: white;
    -webkit-border-radius: 5em; 
}

.img1{
    background-image: url('../images/village01.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
    height:100%;
    width:100%;
}
