@tailwind base;
@tailwind components;
@tailwind utilities;


.font{
    font-family: "Libre Baskerville", serif;
    color:black;
   
}

.box {
    background-color: rgb(80, 13, 13);
    -webkit-border-radius: 5em; 
    height: 100000%;
}

.img1{
    background-image: url('../images/village01.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
    height:100%;
    width:100%;
}

.stroke-2 {
    -webkit-text-stroke: 2px black; /* for Safari and Chrome */
    
}
